In [1]:
print('HI')

HI

In [3]:
def degree_faren():
    # f = (c*9/5) +32
    f = (22*9/5) +32
    print(f)

In [6]:
degree_faren()

71.6

In [7]:
def degree_faren(c):
    f = (c*9/5) +32
    print(f)

In [13]:
degree_faren(34)

93.2

In [14]:
def degree_faren(c):
    f = (c*9/5) +32
    return(f)

In [15]:
print(degree_faren(50))

122.0

In [19]:
degree_faren(c=None)

TypeError: degree_faren() missing 1 required positional argument: 'c'

In [17]:
def sum2(a,b):
    return a+b

In [18]:
sum2(3,4)

7

In [20]:
def degree_faren(c=22):
    f = (c*9/5) +32
    return(f)

In [21]:
degree_faren()

71.6

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt  
# Reading file 
my_file = pd.read_table("gapminder.txt")  
#Subsetting  
Canada = my_file.loc[my_file['country']=="Canada", :] 
# Plotting 
Canada.plot.line(x="year",y="lifeExp", label = "Life Expectancy", figsize=(8,6)) 
plt.suptitle("Life Expectancy in Canada over the years", fontsize = 20) 
plt.xlabel("Year", fontsize = 16) 
plt.ylabel("Life Expectancy", fontsize = 16) 
plt.savefig("PlotLifeExp.png")

In [24]:
def getCountry(countryName):
    return my_file.loc[my_file['country']==countryName, :]

In [34]:
import pandas as pd 
import matplotlib.pyplot as plt  
# Reading file 
my_file = pd.read_table("gapminder.txt")
cntry=getCountry('Spain')

In [35]:
cntry

     country continent  year  lifeExp       pop     gdpPercap
1416   Spain    Europe  1952   64.940  28549870   3834.034742
1417   Spain    Europe  1957   66.660  29841614   4564.802410
1418   Spain    Europe  1962   69.690  31158061   5693.843879
1419   Spain    Europe  1967   71.440  32850275   7993.512294
1420   Spain    Europe  1972   73.060  34513161  10638.751310
1421   Spain    Europe  1977   74.390  36439000  13236.921170
1422   Spain    Europe  1982   76.300  37983310  13926.169970
1423   Spain    Europe  1987   76.900  38880702  15764.983130
1424   Spain    Europe  1992   77.570  39549438  18603.064520
1425   Spain    Europe  1997   78.770  39855442  20445.298960
1426   Spain    Europe  2002   79.780  40152517  24835.471660
1427   Spain    Europe  2007   80.941  40448191  28821.063700

In [47]:
def plot_country(countryName):
    my_file = pd.read_table("gapminder.txt")  
    #Subsetting  
    cntry = getCountry(countryName)
    # Plotting 
    cntry.plot.line(x="year",y="lifeExp", label = "Life Expectancy", figsize=(8,6)) 
    plt.suptitle("Life Expectancy in %s over the years" %countryName, fontsize = 20) 
    plt.xlabel("Year", fontsize = 16) 
    plt.ylabel("Life Expectancy", fontsize = 16) 
    plt.savefig("PlotLifeExp2.png")

In [48]:
plot_country('Spain')

In [46]:
help math

SyntaxError: invalid syntax (<ipython-input-46-0bc6d8c28443>, line 1)